<a href="/bright_ideas">Ideas</a>
<div>
	<p> Name: <%= @user.name %> </p>
	<p> Alias: <%= @user.alias %> </p>
	<p> Email: <%= @user.email %> </p>
</div>
<div>
	<p>Total Number of Ideas: <%= @user.ideas.length %> </p>
	<p>Total Number of Likes: <%= @user.likes.length %> </p>
</div>